<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>채팅봇</title>
    <link rel="stylesheet" href="static\css\styles.css">
</head>
<body>
    <div id="sidebar">
        <div class="title">인공지능 업무도우미 💡</div>
        <div class="menu-item">
            ⚙️ 설정
            <ul>
                <li class="sub-menu" onclick="openModal('share-modal')">Confluence</li>
                <li class="sub-menu" onclick="openModal('email-modal')">Email</li>
                <li class="sub-menu" onclick="openModal('calendar-modal')">Calender</li>
            </ul>
        </div>
        <div class="menu-item">
            📂 기능
            <ul>
                <li class="sub-menu" onclick="openModal('file-upload-modal')">문서번역</li>
                <li class="sub-menu">보고서 초안 작성</li>
                <li class="sub-menu">회의록 초안 작성</li>
                <li class="sub-menu">미팅 일정 생성</li>
                <li class="sub-menu">이메일</li>
            </ul>
        </div>
    </div>
    
    <div id="chat-container">
        <div id="chat-box"></div>
        <div id="input-box">
            <input type="text" id="user-input" placeholder="메시지를 입력하세요" onkeydown="handleKeydown(event)">
            <button id="send-button" onclick="sendMessage()">전송</button>
        </div>
    </div>

   <!-- 모달 다이얼로그들 -->
   <div id="share-modal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal('share-modal')">&times;</span>
            <h2>Confluence 정보</h2>
            <label for="access-token">개인용 엑세스 토큰</label><br>
            <input type="text" id="access-token" name="access-token"><br><br>
            <label for="login-account">로그인 계정</label><br>
            <input type="text" id="login-account" name="login-account"><br><br><br><br>
            <button id="save-button" onclick="saveShare()">Save</button>
        </div>
    </div>

    <div id="email-modal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal('email-modal')">&times;</span>
            <h2>Email 정보</h2>
            <label for="email-id">아이디</label><br>
            <input type="text" id="email-id" name="email-id"><br><br>
            <label for="email-password">패스워드</label><br>
            <input type="password" id="email-password" name="email-password"><br><br><br><br>
            <button id="save-button" onclick="saveEmail()">Save</button>
        </div>
    </div>

    <div id="calendar-modal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal('calendar-modal')">&times;</span>
            <h2>Calendar</h2>
            <br><br>
            <button id="save-button" onclick="saveCalendar()">Save</button>
        </div>
    </div>

    <div id="report-alert-modal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal('report-alert-modal')">&times;</span>
            <p>보고서 작성을 위한 정보가 모두 입력되지 않았습니다. 정보를 입력해주세요.</p>
        </div>
    </div>

    <div id="file-upload-modal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal('file-upload-modal')">&times;</span>
            <h2>문서 번역기</h2>
            <h4>파일 업로드</h4>
            <input type="file" id="file-upload" name="file-upload" accept=".txt, .pdf, .doc, .docx"><br>
            <h4>번역할 언어</h4>
            <select id="language-select">
                <option value="en">영어</option>
                <option value="ko">한국어</option>
                <option value="ja">일본어</option>
            </select><br><br><br>
            <button id="save-button" onclick="uploadFile()">Upload</button>
        </div>
    </div>

    <script>
        async function sendMessage() {
            var userInput = document.getElementById('user-input').value;
            if (userInput.trim() !== '') {
                var chatBox = document.getElementById('chat-box');
                var userMessageContainer = document.createElement('div');
                userMessageContainer.classList.add('message-container', 'user-message-container');
                
                var userMessageBubble = document.createElement('div');
                userMessageBubble.classList.add('message-bubble', 'user-message-bubble');
                userMessageBubble.textContent = userInput;

                userMessageContainer.appendChild(userMessageBubble);
                chatBox.appendChild(userMessageContainer);

                // 대기 중인 메시지를 표시
                var waitingMessageContainer = document.createElement('div');
                waitingMessageContainer.id = 'waiting-message';
                waitingMessageContainer.classList.add('message-container', 'waiting-message-bubble');
                waitingMessageContainer.innerHTML = '<div id="spinner"></div>';
                chatBox.appendChild(waitingMessageContainer);

                // 스크롤을 항상 최하단으로 조정
                chatBox.scrollTop = chatBox.scrollHeight;

                document.getElementById('user-input').value = '';
                
                // http post 요청
                var response = await fetch('/send-message/',{
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ text: userInput })
                });
                var data = await response.json();
                
                if('image' in data) {
                    displayImage(data.image, data.message+'\n\n')
                }
                else{
                    displayMessage(data.message);
                }
                chatBox.removeChild(waitingMessageContainer);
            }
        }
        function displayMessage(message) {
            var chatBox = document.getElementById('chat-box');
            var botMessageContainer = document.createElement('div');
            botMessageContainer.classList.add('message-container', 'bot-message-container');

            var botMessageBubble = document.createElement('div');
            botMessageBubble.classList.add('message-bubble', 'bot-message-bubble');
            botMessageBubble.textContent = message;

            botMessageContainer.appendChild(botMessageBubble);
            chatBox.appendChild(botMessageContainer);

            // 스크롤을 항상 최하단으로 조정
            chatBox.scrollTop = chatBox.scrollHeight;
            // 대기 중인 메시지가 있으면 삭제
            var waitingMessage = document.getElementById('waiting-message');
            if (waitingMessage) {
                chatBox.removeChild(waitingMessage);
            }
        }
        function displayImage(image, text) {
            var chatBox = document.getElementById('chat-box');
            
            var messageBubble = document.createElement('div');
            messageBubble.classList.add('message-bubble', 'bot-message-bubble');
            messageBubble.textContent = text;

            var imageContainer = document.createElement('img');
            imageContainer.src = image
            
            messageBubble.appendChild(imageContainer);
            chatBox.appendChild(messageBubble);

            chatBox.scrollTop = chatBox.scrollHeight;
        }

        function handleKeydown(event) {
            if (event.key === 'Enter') {
                sendMessage();
            }
        }
        // 모달 열기
        function openModal(modalId) {
            var modal = document.getElementById(modalId);
            modal.style.display = "block";
        }

        // 모달 닫기
        function closeModal(modalId) {
            var modal = document.getElementById(modalId);
            modal.style.display = "none";
        }

        // 사용자가 모달 외부를 클릭했을 때 모달 닫기
        window.onclick = function(event) {
            var modals = document.getElementsByClassName('modal');
            for (var i = 0; i < modals.length; i++) {
                var modal = modals[i];
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            }
        }
        // 설정 정보 저장 메소드
        function saveShare() {
            var accessToken = document.getElementById('access-token').value;
            var loginAccount = document.getElementById('login-account').value;

            console.log("Access Token:", accessToken);
            console.log("Login Account:", loginAccount);

            // 필요한 저장 또는 처리 로직을 추가하세요.

            // 모달 닫기
            closeModal('share-modal');
        }
        function saveEmail() {
            var id = document.getElementById('email-id').value;
            var pw = document.getElementById('email-password').value;

            console.log("Email Id:", id);
            console.log("Email Password:", pw);
            

            // 필요한 저장 또는 처리 로직을 추가하세요.

            // 모달 닫기
            closeModal('email-modal');
        }
        function saveCalendar() {
            // 필요한 저장 또는 처리 로직을 추가하세요.

            // 모달 닫기
            closeModal('calendar-modal');
        }
        // 기능 함수

        // Confluence 정보를 입력했는지 확인하는 함수
        function isConfluenceInfoEntered() {
            var accessToken = document.getElementById('access-token').value;
            var loginAccount = document.getElementById('login-account').value;
            return accessToken.trim() !== '' && loginAccount.trim() !== '';
        }

        //파일업로드
        async function uploadFile() {
            var fileInput = document.getElementById('file-upload');
            var file = fileInput.files[0];
            var language = document.getElementById('language-select').value;
            
            // 모달 닫기
            closeModal('file-upload-modal');

            if (file) {
                var chatBox = document.getElementById('chat-box');
                var messageContainer = document.createElement('div');
                messageContainer.classList.add('message-container', 'bot-message-container');
                
                var messageBubble = document.createElement('div');
                messageBubble.classList.add('message-bubble', 'bot-message-bubble');
                messageBubble.textContent = "문서를 번역하고 있습니다";

                messageContainer.appendChild(messageBubble);
                chatBox.appendChild(messageContainer);

                // 대기 중인 메시지를 표시
                var waitingMessageContainer = document.createElement('div');
                waitingMessageContainer.id = 'waiting-message';
                waitingMessageContainer.classList.add('message-container', 'waiting-message-bubble');
                waitingMessageContainer.innerHTML = '<div id="spinner"></div>';
                chatBox.appendChild(waitingMessageContainer);

                // 스크롤을 항상 최하단으로 조정
                chatBox.scrollTop = chatBox.scrollHeight;

                var formData = new FormData();
                formData.append('file', file);
                formData.append('language', language);
                
                // http post 요청
                var response = await fetch('/translate-document/',{
                    method: 'POST',
                    body: formData
                });
                var data = await response.json();
                console.log(data.result)
                displayMessageWithDownloadLink("번역이 완료되었습니다", data.download_url)

                chatBox.removeChild(waitingMessageContainer);
            }
            function displayMessageWithDownloadLink(message, downloadUrl) {
                var chatBox = document.getElementById('chat-box');
                var botMessageContainer = document.createElement('div');
                botMessageContainer.classList.add('message-container', 'bot-message-container');

                var botMessageBubble = document.createElement('div');
                botMessageBubble.classList.add('message-bubble', 'bot-message-bubble');
                botMessageBubble.textContent = message;

                // 번역된 파일 다운로드 링크 생성
                var downloadLink = document.createElement('a');
                downloadLink.textContent = "번역된 파일 다운로드";
                downloadLink.href = downloadUrl;
                downloadLink.download = "translated_file.txt"; // 다운로드될 파일 이름 지정

                botMessageBubble.appendChild(downloadLink);
                botMessageContainer.appendChild(botMessageBubble);
                chatBox.appendChild(botMessageContainer);

                // 스크롤을 항상 최하단으로 조정
                chatBox.scrollTop = chatBox.scrollHeight;
                // 대기 중인 메시지가 있으면 삭제
                var waitingMessage = document.getElementById('waiting-message');
                if (waitingMessage) {
                    chatBox.removeChild(waitingMessage);
                }
            }

        }    
        
    </script>
</body>
</html>
