<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    <title>채팅봇</title>
    <link rel="stylesheet" href="static\css\styles.css">
</head>
<body>
    <div id="sidebar">
        <div class="title">인공지능 업무도우미 💡</div>
        <div class="menu-item">
            ⚙️ 설정
            <ul>
                <li class="sub-menu" onclick="openModal('share-modal')">Confluence</li>
                <li class="sub-menu" onclick="openModal('email-modal')">Email</li>
                <li class="sub-menu" onclick="openModal('calendar-modal')">Google Calendar</li>
            </ul>
        </div>
        <div class="menu-item">
            📂 기능
            <ul>
                <li class="sub-menu" onclick="openModal('file-upload-modal')">문서번역</li>
                <li class="sub-menu" onclick="openModal('report-draft-modal')">보고서 초안 작성</li>
                <li class="sub-menu" onclick="openModal('minutes-draft-modal')">회의록 초안 작성</li>
                <li class="sub-menu" onclick="openModal('meeting-schedule-modal')">미팅 일정 생성</li>
            </ul>
        </div>
    </div>
    
    <div id="chat-container">
        <div id="chat-box"></div>
        <div id="input-box">
            <input type="text" id="user-input" placeholder="메시지를 입력하세요" onkeydown="handleKeydown(event)">
            <button id="send-button" onclick="sendMessage()">전송</button>
        </div>
    </div>

   <!-- 모달 다이얼로그들 -->
   <div id="share-modal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal('share-modal')">&times;</span>
            <h2>Confluence 정보</h2>
            <label for="access-token">개인용 엑세스 토큰</label><br>
            <input type="text" id="access-token" name="access-token"><br><br>
            <label for="login-account">로그인 계정</label><br>
            <input type="text" id="login-account" name="login-account"><br><br><br><br>
            <button id="save-button" onclick="saveShare()">Save</button>
        </div>
    </div>

    <div id="email-modal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal('email-modal')">&times;</span>
            <h2>Email 정보</h2>
            <label for="email-id">아이디</label><br>
            <input type="text" id="email-id" name="email-id"><br><br>
            <label for="email-password">패스워드</label><br>
            <input type="password" id="email-password" name="email-password"><br><br><br><br>
            <button id="save-button" onclick="saveEmail()">Save</button>
        </div>
    </div>
    <div id="calendar-modal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal('calendar-modal')">&times;</span>
            <h2>Google Calendar</h2>
            <label for="google-id">구글 계정 아이디</label><br>
            <input type="text" id="google-id" name="google-id"><br><br>
            <br><br>
            <button id="save-button" onclick="saveCalendar()">Save</button>
        </div>
    </div>
    <div id="file-upload-modal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal('file-upload-modal')">&times;</span>
            <h2>문서 번역기</h2>
            <h4>파일 업로드</h4>
            <input type="file" id="translate-file-upload" name="file-upload" accept=".txt, .pdf, .doc, .docx"><br>
            <h4>번역할 언어</h4>
            <select id="language-select">
                <option value="en">영어</option>
                <option value="ko">한국어</option>
                <option value="ja">일본어</option>
            </select><br><br><br>
            <button id="save-button" onclick="translateUploadFile()">Upload</button>
        </div>
    </div>
    <div id="report-draft-modal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal('report-draft-modal')">&times;</span>
            <h2>보고서 초안 작성</h2>
            <h4>Share 페이지</h4>
            <div class="share-link-input-container">
                <input type="text" id="share-link" name="share-link" placeholder="링크를 입력하세요">
                <button id="arrow-button" onclick="checkConfluenceInfo()">↑</button>
                <div class="page-titles-container" id="page-titles-container"></div>
            </div>
            <h4>E-mail</h4>
            <div style="display: flex; align-items: center;">
                <button onclick="checkEmailInfo('report-email-select')">이메일 불러오기</button>
                <span style="font-size: smaller; font-weight: normal; color: #888; margin-left: 10px;">최신 50개의 메일을 가져옵니다</h4>
            </div>
            <div id="report-email-list" class="email-list">
                <select id="report-email-select" class="email-select" onchange="selectEmail()">
                    <option value="-1">이메일 선택</option>
                </select>
            </div>
            <h4>파일 업로드</h4>
            <input type="file" id="report-file-upload" name="file-upload" accept=".txt, .pdf, .doc, .docx"><br><br><br>
            <button id="save-button" onclick="draftReport()">Upload</button>
        </div>
    </div>
    <div id="minutes-draft-modal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal('minutes-draft-modal')">&times;</span>
            <h2>회의록 초안 작성</h2>
            <h4>Share 페이지</h4>
            <div class="share-link-input-container">
                <input type="text" id="share-link" name="share-link" placeholder="링크를 입력하세요">
                <button id="arrow-button" onclick="checkConfluenceInfo()">↑</button>
                <div class="page-titles-container" id="page-titles-container"></div>
            </div>
            <h4>E-mail</h4>
            <div style="display: flex; align-items: center;">
                <button onclick="checkEmailInfo('report-email-select')">이메일 불러오기</button>
                <span style="font-size: smaller; font-weight: normal; color: #888; margin-left: 10px;">최신 50개의 메일을 가져옵니다</h4>
            </div>
            <div id="minutes-email-list" class="email-list">
                <select id="minutes-email-select" class="email-select" onchange="selectEmail()">
                    <option value="-1">이메일 선택</option>
                </select>
            </div>
            <h4>파일 업로드</h4>
            <input type="file" id="minutes-file-upload" name="file-upload" accept=".txt, .pdf, .doc, .docx"><br><br><br>
            <button id="save-button" onclick="draftMinutes()">Upload</button>
        </div>
    </div>
    <div id="meeting-schedule-modal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal('meeting-schedule-modal')">&times;</span>
            <h2>미팅 일정 생성</h2>
            <h4>E-mail</h4>
            <div style="display: flex; align-items: center;">
                <button onclick="checkEmailInfo('meething-email-select')">이메일 불러오기</button>
                <span style="font-size: smaller; font-weight: normal; color: #888; margin-left: 10px;">최신 50개의 메일을 가져옵니다</h4>
            </div>
            <div id="meething-email-list" class="email-list">
                <select id="meething-email-select" class="email-select">
                    <option value="-1">이메일 선택</option>
                </select><br>
            </div>
            <h4>반환</h4>
            <input type="radio" id="option1" name="option" value="option1">
            <label for="option1">구글 캘린더 일정 등록</label><br>
            <input type="radio" id="option2" name="option" value="option2">
            <label for="option2">가능한 일정 리스트 생성</label><br><br><br><br>
            <button id="save-button" onclick="createSchedule()">Upload</button>
        </div>
    </div>


    <script>
        var emails = [];
        var share_page = [];
        async function sendMessage() {
            var userInput = document.getElementById('user-input').value;
            console.log(userInput)
            if (userInput.trim() !== '') {
                var chatBox = document.getElementById('chat-box');
                var userMessageContainer = document.createElement('div');
                userMessageContainer.classList.add('message-container', 'user-message-container');
                
                var userMessageBubble = document.createElement('div');
                userMessageBubble.classList.add('message-bubble', 'user-message-bubble');
                userMessageBubble.textContent = userInput;

                userMessageContainer.appendChild(userMessageBubble);
                chatBox.appendChild(userMessageContainer);

                // 대기 중인 메시지를 표시
                var waitingMessageContainer = document.createElement('div');
                waitingMessageContainer.id = 'waiting-message';
                waitingMessageContainer.classList.add('message-container', 'waiting-message-bubble');
                waitingMessageContainer.innerHTML = '<div id="spinner"></div>';
                chatBox.appendChild(waitingMessageContainer);

                // 스크롤을 항상 최하단으로 조정
                chatBox.scrollTop = chatBox.scrollHeight;

                document.getElementById('user-input').value = '';

                var formData = new FormData();
                formData.append('text', userInput);

                try {
                    // http post 요청
                    const response = await fetch('/send-message/', {
                        method: 'POST',
                        body: formData
                    });
                    if (!response.ok) {
                        handleServerError(response)
                    }

                    const data = await response.json();
                    if('image' in data) {
                        displayImage(data.image, data.message+'\n\n')
                    }
                    else{
                        displayMessage(data.message);
                    } 
                    print(data)
                } catch (error) {
                    console.error('네트워크 오류:', error); 
                }

                chatBox.removeChild(waitingMessageContainer);
            }
        }
        function displayMessage(message) {
            var chatBox = document.getElementById('chat-box');
            var botMessageContainer = document.createElement('div');
            botMessageContainer.classList.add('message-container', 'bot-message-container');

            var botMessageBubble = document.createElement('div');
            botMessageBubble.classList.add('message-bubble', 'bot-message-bubble');
            botMessageBubble.textContent = message;

            botMessageContainer.appendChild(botMessageBubble);
            chatBox.appendChild(botMessageContainer);

            // 스크롤을 항상 최하단으로 조정
            chatBox.scrollTop = chatBox.scrollHeight;
            // 대기 중인 메시지가 있으면 삭제
            var waitingMessage = document.getElementById('waiting-message');
            if (waitingMessage) {
                chatBox.removeChild(waitingMessage);
            }
        }
        function displayImage(image, text) {
            var chatBox = document.getElementById('chat-box');
            
            var messageBubble = document.createElement('div');
            messageBubble.classList.add('message-bubble', 'bot-message-bubble');
            messageBubble.textContent = text;

            var imageContainer = document.createElement('img');
            imageContainer.src = image
            
            messageBubble.appendChild(imageContainer);
            chatBox.appendChild(messageBubble);

            chatBox.scrollTop = chatBox.scrollHeight;
        }

        function handleKeydown(event) {
            if (event.key === 'Enter') {
                sendMessage();
            }
        }
        // 모달 열기
        function openModal(modalId) {
            var modal = document.getElementById(modalId);
            modal.style.display = "block";
        }

        // 모달 닫기
        function closeModal(modalId) {
            var modal = document.getElementById(modalId);
            modal.style.display = "none";
        }

        // 사용자가 모달 외부를 클릭했을 때 모달 닫기
        window.onclick = function(event) {
            var modals = document.getElementsByClassName('modal');
            for (var i = 0; i < modals.length; i++) {
                var modal = modals[i];
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            }
        }
        // 설정 정보 저장 메소드
        function saveShare() {
            var accessToken = document.getElementById('access-token').value;
            var loginAccount = document.getElementById('login-account').value;

            console.log("Access Token:", accessToken);
            console.log("Login Account:", loginAccount);

            // 필요한 저장 또는 처리 로직을 추가하세요.

            // 모달 닫기
            closeModal('share-modal');
        }
        function saveEmail() {
            var id = document.getElementById('email-id').value;
            var pw = document.getElementById('email-password').value;

            console.log("Email Id:", id);
            console.log("Email Password:", pw);
            
            // 모달 닫기
            closeModal('email-modal');
        }
        function saveCalendar() {

            // 모달 닫기
            closeModal('calendar-modal');
        }
        
        // 기능 함수
        // 쉐어 불러오기
        async function loadShare(shareLink){
            var accessToken = document.getElementById('access-token').value.trim();
            var loginAccount = document.getElementById('login-account').value.trim();
            var formData = new FormData();
            formData.append('accessToken', accessToken);
            formData.append('loginAccount', loginAccount);
            formData.append('shareLink', shareLink);

            try {
                const response = await fetch('/load-share/', {
                    method: 'POST',
                    body: formData
                });
                if (!response.ok) {
                    handleServerError(response)
                }
                    const pages = await response.json();
                    displayPageTitles(pages)

                } catch (error) {
                console.error('쉐어 페이지 불러오기 오류:', error);
            }
        }
        function checkConfluenceInfo() {
            var accessToken = document.getElementById('access-token').value.trim();
            var loginAccount = document.getElementById('login-account').value.trim();
            if (accessToken == '' || loginAccount == ''){
                alert("컨플루언스 정보를 입력하세요.")
                return;        
            }
            var shareLink = document.getElementById('share-link').value;
            
            loadShare(shareLink);
        }
        function displayPageTitles(pages) {
            share_page = []
            var pageTitlesContainer = document.getElementById('page-titles-container');
            pageTitlesContainer.innerHTML = ''; 
            pages.forEach((page, index) => {
                var pageTitleBox = document.createElement('div');
                share_page.push(page)
                pageTitleBox.textContent = page.title;
                pageTitleBox.classList.add('page-title-box'); 
                pageTitlesContainer.appendChild(pageTitleBox);
            });
        }

        // 문서 번역
        async function translateUploadFile() {
            var fileInput = document.getElementById('translate-file-upload');
            var file = fileInput.files[0];
            var language = document.getElementById('language-select').value;
            
            // 모달 닫기
            closeModal('file-upload-modal');
            console.log(file);

            if (file) {
                var chatBox = document.getElementById('chat-box');
                var messageContainer = document.createElement('div');
                messageContainer.classList.add('message-container', 'bot-message-container');
                
                var messageBubble = document.createElement('div');
                messageBubble.classList.add('message-bubble', 'bot-message-bubble');
                messageBubble.textContent = "문서를 번역하고 있습니다";

                messageContainer.appendChild(messageBubble);
                chatBox.appendChild(messageContainer);

                // 대기 중인 메시지를 표시
                var waitingMessageContainer = document.createElement('div');
                waitingMessageContainer.id = 'waiting-message';
                waitingMessageContainer.classList.add('message-container', 'waiting-message-bubble');
                waitingMessageContainer.innerHTML = '<div id="spinner"></div>';
                chatBox.appendChild(waitingMessageContainer);

                // 스크롤을 항상 최하단으로 조정
                chatBox.scrollTop = chatBox.scrollHeight;

                var formData = new FormData();
                formData.append('file', file);
                formData.append('language', language);
                
                try {
                    // http post 요청
                    const response = await fetch('/translate-document/', {
                        method: 'POST',
                        body: formData
                    });
                    if (!response.ok) {
                        handleServerError(response)
                    }else{
                        const filename = response.headers.get('Content-Disposition').split('filename=')[1];
                        const blob = await response.blob();
                        const url = window.URL.createObjectURL(blob);
                        const a = document.createElement('a');
                        a.href = url;
                        a.download = filename;
                        a.style.display = 'none';
                        document.body.appendChild(a);
                        console.log(url);
                        a.click();
                        window.URL.revokeObjectURL(url);
                    }
                } catch (error) {
                    console.error('네트워크 오류:', error); 
                }

                // 스크롤을 항상 최하단으로 조정
                chatBox.scrollTop = chatBox.scrollHeight;
                // 대기 중인 메시지가 있으면 삭제
                var waitingMessage = document.getElementById('waiting-message');
                if (waitingMessage) {
                    chatBox.removeChild(waitingMessage);
                }
            }
        }
        function displayMessageWithDownloadLink(message, downloadUrl) {
            var chatBox = document.getElementById('chat-box');
            var botMessageContainer = document.createElement('div');
            botMessageContainer.classList.add('message-container', 'bot-message-container');

            var botMessageBubble = document.createElement('div');
            botMessageBubble.classList.add('message-bubble', 'bot-message-bubble');
            botMessageBubble.textContent = message;

            botMessageContainer.appendChild(botMessageBubble);
            chatBox.appendChild(botMessageContainer);

            // 번역된 파일 다운로드 링크 생성
            var downloadContainer = document.createElement('div');
            downloadContainer.classList.add('message-container', 'bot-message-container');

            var downloadBubble = document.createElement('div');
            downloadBubble.classList.add('message-bubble', 'bot-message-bubble');

            // 번역된 파일 다운로드 링크 생성
            var downloadLink = document.createElement('a');
            downloadLink.textContent = "translated_file.txt";
            downloadLink.href = downloadUrl;
            downloadLink.download = "translated_file.txt";

            downloadBubble.appendChild(downloadLink);
            downloadContainer.appendChild(downloadBubble);
            chatBox.appendChild(downloadContainer);

        }
        
        // 서버 오류 처리
        async function handleServerError(response){
            if (!response.ok) {
                const errorMessage = await response.text();
                console.error('서버 오류:', errorMessage);
                
                //오류메세지 생성
                var chatBox = document.getElementById('chat-box');
                var botMessageContainer = document.createElement('div');
                botMessageContainer.classList.add('message-container', 'bot-message-container');

                var botMessageBubble = document.createElement('div');
                botMessageBubble.classList.add('message-bubble', 'bot-message-bubble');
                botMessageBubble.textContent = "응답 생성에 실패하였습니다.";

                botMessageContainer.appendChild(botMessageBubble);
                chatBox.appendChild(botMessageContainer);

                // 스크롤을 항상 최하단으로 조정
                chatBox.scrollTop = chatBox.scrollHeight;
                
                return Promise.resolve(null);
            }
        }
         
        // 보고서 초안 작성
        async function draftReport(){
            var formData = new FormData();
            
            // 이메일 
            var emailSelect = document.getElementById('report-email-select');
            var selectIndex = emailSelect.value;
            if(selectIndex != "-1"){
                const selectedEmail = emails[parseInt(selectIndex)];
                formData.append('emailIndex', 49 - parseInt(selectIndex));
                formData.append('emailTitle', emails[selectIndex].subject)
            }
            // 파일
            var fileInput = document.getElementById('report-file-upload');
            var file = fileInput.files[0];
            if(file){
                formData.append('file', file);
            }

            // 컨플루언스
            if(share_page.length){
                formData.append('share', share_page.length);
            }

            if(share_page.length == 0 && selectIndex == "-1" && file == undefined){
                alert("하나 이상의 입력을 작성해주세요.")
                return
            }
            var shareLink = document.getElementById('share-link').value;
            var accessToken = document.getElementById('access-token').value.trim();
            formData.append('shareLink', shareLink)
            formData.append('accessToken', accessToken)

            closeModal('report-draft-modal')

            var chatBox = document.getElementById('chat-box');
            var messageContainer = document.createElement('div');
            messageContainer.classList.add('message-container', 'bot-message-container');
            
            var messageBubble = document.createElement('div');
            messageBubble.classList.add('message-bubble', 'bot-message-bubble');
            messageBubble.textContent = "보고서 초안을 작성하고 있습니다";

            messageContainer.appendChild(messageBubble);
            chatBox.appendChild(messageContainer);

            // 대기 중인 메시지를 표시
            var waitingMessageContainer = document.createElement('div');
            waitingMessageContainer.id = 'waiting-message';
            waitingMessageContainer.classList.add('message-container', 'waiting-message-bubble');
            waitingMessageContainer.innerHTML = '<div id="spinner"></div>';
            chatBox.appendChild(waitingMessageContainer);

            // 스크롤을 항상 최하단으로 조정
            chatBox.scrollTop = chatBox.scrollHeight;

            try {
                // http post 요청
                const response = await fetch('/draft-report/', {
                    method: 'POST',
                    body: formData
                });
                if (!response.ok) {
                    handleServerError(response)
                }
                const data = await response.json();
                title = data.title
                link = data.link

                var chatBox = document.getElementById('chat-box');
                var titleContainer = document.createElement('div');
                titleContainer.classList.add('message-container', 'bot-message-container');
                
                var titleBubble = document.createElement('div');
                titleBubble.classList.add('message-bubble', 'bot-message-bubble');
                titleBubble.textContent = "title: "+title;

                var linkContainer = document.createElement('div');
                linkContainer.classList.add('message-container', 'bot-message-container');

                var linkBubble = document.createElement('a');
                linkBubble.classList.add('message-bubble', 'bot-message-bubble');
                linkBubble.textContent = link;
                linkBubble.href = link;

                titleContainer.appendChild(titleBubble);
                linkContainer.appendChild(linkBubble);
                chatBox.appendChild(titleContainer);
                chatBox.appendChild(linkContainer);

            } catch (error) {
                console.error('네트워크 오류:', error); 
            }

            // 스크롤을 항상 최하단으로 조정
            chatBox.scrollTop = chatBox.scrollHeight;
            // 대기 중인 메시지가 있으면 삭제
            var waitingMessage = document.getElementById('waiting-message');
            if (waitingMessage) {
                chatBox.removeChild(waitingMessage);
            }
        }

        // 이메일 불러오기
        async function loadEmails(listId) {
            var emailId = document.getElementById('email-id').value.trim();
            var emailPassword = document.getElementById('email-password').value.trim();
            var formData = new FormData();
            formData.append('id', emailId);
            formData.append('password', emailPassword);

            try {
                const response = await fetch('/load-emails/', {
                    method: 'POST',
                    body: formData
                });
                if (!response.ok) {
                    handleServerError(response)
                }
                emails = await response.json();

                const emailSelect = document.getElementById(listId);
                // 이메일 리스트를 드롭다운 메뉴에 추가
                emails.forEach((email, index) => {
                    const option = document.createElement('option');
                    option.value = index;
                    option.textContent = `${email.subject} - from <${email.from[0]}> - date:  ${email.date}`;
                    emailSelect.appendChild(option);
                });
            } catch (error) {
                console.error('이메일 불러오기 오류:', error);
            }
        }
        function checkEmailInfo(listId){
            var emailId = document.getElementById('email-id').value.trim();
            var emailPassword = document.getElementById('email-password').value.trim();
            if(emailId == '' || emailPassword == ''){
                alert("이메일 정보를 입력하세요.")
                return
            }   
            loadEmails(listId);
        }
        
        async function createSchedule(){
            var emailSelect = document.getElementById('meething-email-select');
            var selectIndex = emailSelect.value;
            var option1Checked = document.getElementById('option1').checked;
            var option2Checked = document.getElementById('option2').checked;
            
            if(selectIndex == "-1"){
                alert("이메일을 선택하세요.")
                return
            }
            if(!option1Checked && !option2Checked){
                alert("반환옵션을 선택하세요.")
                return
            }
            const selectedEmail = emails[parseInt(selectIndex)];
            var formData = new FormData();
            formData.append('index', 49 - parseInt(selectIndex));
            formData.append('subject', selectedEmail.subject);
            formData.append('date', selectedEmail.date);
            formData.append('from', selectedEmail.from[0]);

            closeModal('meeting-schedule-modal')

            // 메세지 생성
            var chatBox = document.getElementById('chat-box');
            var messageContainer = document.createElement('div');
            messageContainer.classList.add('message-container', 'bot-message-container');
            
            var messageBubble = document.createElement('div');
            messageBubble.classList.add('message-bubble', 'bot-message-bubble');
            messageBubble.textContent = "미팅 일정을 구글 캘린더에 등록합니다.";

            messageContainer.appendChild(messageBubble);
            chatBox.appendChild(messageContainer);

            // 대기 중인 메시지를 표시
            var waitingMessageContainer = document.createElement('div');
            waitingMessageContainer.id = 'waiting-message';
            waitingMessageContainer.classList.add('message-container', 'waiting-message-bubble');
            waitingMessageContainer.innerHTML = '<div id="spinner"></div>';
            chatBox.appendChild(waitingMessageContainer);

            // 스크롤을 항상 최하단으로 조정
            chatBox.scrollTop = chatBox.scrollHeight;

            // 구글 캘린더 일정 등록
            if(option1Checked){
                try {
                    const response = await fetch('/post-calender/', {
                        method: 'POST',
                        body: formData
                    });
                    if (!response.ok) {
                        handleServerError(response)
                    }
                    const data = await response.json();
                    var message = "일정 등록이 완료되었습니다.\n" +
                    "일정요약: " + data.summary + "\n" +
                    "장소: " + data.location + "\n" +
                    "날짜: " + data.dateTime;


                    // 응답 메세지
                    var chatBox = document.getElementById('chat-box');
                    var messageContainer = document.createElement('div');
                    messageContainer.classList.add('message-container', 'bot-message-container');
            
                    var responseMessageBubble = document.createElement('div');
                    responseMessageBubble.classList.add('message-bubble', 'bot-message-bubble');
                    responseMessageBubble.textContent = message;

                    messageContainer.appendChild(responseMessageBubble);
                    chatBox.appendChild(messageContainer);

                } catch (error) {
                    console.error('캘린더 일정 생성 오류', error);
                }   
            }
            chatBox.removeChild(waitingMessageContainer);
        }
    
    </script>
</body>
</html>
